@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://cf.shopee.co.th/file/ff5621a5ff45e38696c6b403e748df4e") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://cf.shopee.co.th/file/aca09730c32677946f6c9f7b60c728a7") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://cf.shopee.co.th/file/abad0d07b3b359da3036dd55b76fe15e") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://cf.shopee.co.th/file/b07fc7b33bd3aaea29ca7008a5d192be") no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url("https://cf.shopee.co.th/file/129bef82bc1c26536f441ee5170cdc72") no-repeat center;
    background-size: cover;
}

.section-products #product-6 .part-1::before {
    background: url("https://cf.shopee.co.th/file/364be589ac50f7fe0195491503db5b3e") no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url("https://cf.shopee.co.th/file/ce9a7fc1f848f8e31dd4c4db686e2d33") no-repeat center;
    background-size: cover;
}

.section-products #product-8 .part-1::before {
    background: url("https://cf.shopee.co.th/file/17c76f2959dc7b2932d669b917133e1e") no-repeat center;
    background-size: cover;
}

.section-products #product-9 .part-1::before {
    background: url("https://cf.shopee.co.th/file/082ae326747ffbaea1cf97aafe693a3a") no-repeat center;
    background-size: cover;
}

.section-products #product-10 .part-1::before {
    background: url("https://cf.shopee.co.th/file/9bdd5943717422b1b6a27c52582effe6") no-repeat center;
    background-size: cover;
}

.section-products #product-11 .part-1::before {
    background: url("https://cf.shopee.co.th/file/d0fb2c746130af57514dea329e24e573") no-repeat center;
    background-size: cover;
}

.section-products #product-12 .part-1::before {
    background: url("https://cf.shopee.co.th/file/e1eb72c42534a69223fc3b7a61233361") no-repeat center;
    background-size: cover;
}

.section-products #product-13 .part-1::before {
    background: url("https://cf.shopee.co.th/file/b89da01ba2c4fee51b3dc2cef4ea300f") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}